version: '3'

services:
 app-integracao-safim:
   environment:
     - CLOUDSQL_CONNECTION_NAME
     - CLOUDSQL_USER
     - CLOUDSQL_PASSWORD
   volumes:
     - cloudsql:/cloudsql
   depends_on:
    - sql_proxy
    
 app-integracao-stur:
   environment:
     - CLOUDSQL_CONNECTION_NAME
     - CLOUDSQL_USER
     - CLOUDSQL_PASSWORD
   volumes:
     - cloudsql:/cloudsql
   depends_on:
     - sql_proxy

 sql_proxy:
   image: gcr.io/cloudsql-docker/gce-proxy:1.17
   command:
     - "/cloud_sql_proxy"
     - "-dir=/cloudsql"
     - "-instances=${CLOUDSQL_CONNECTION_NAME}"
     - "-credential_file=/tmp/keys/keyfile.json"
   user: root
   volumes:
     - ${GCP_KEY_PATH}:/tmp/keys/keyfile.json:ro
     - cloudsql:/cloudsql

volumes:
 cloudsql: