.painel-imoveis-card-principal {
  min-height: 200px;
  margin-top: 40px;
  width: 100%;
  padding: 10px;
}

.painel-imoveis-card-row {
  padding: 20px 20px 10px 20px;
}

.painel-imoveis-card-titulo {
  font-size: 1.2rem;
  font-weight: bold;
}

.painel-imoveis-card-descricao {
  font-size: 1.2rem;
}
