<!-- Fazer o *ngFor na div abaixo da classe row -->
<div class="row">
  <div class="card painel-imoveis-card-principal">
    <div class="row painel-imoveis-card-row">
      <div class="col-12">
        <p>
          <span class="painel-imoveis-card-titulo">Inscrição Municipal: </span>
          <span class="painel-imoveis-card-descricao">524.978.632</span>
        </p>

        <p>
          <span class="painel-imoveis-card-titulo">Tipo do Imóvel: </span>
          <span class="painel-imoveis-card-descricao">Casa</span>
        </p>

        <p>
          <span class="painel-imoveis-card-titulo">Valor do Imóvel: </span>
          <span class="painel-imoveis-card-descricao">R$ 150.000,00</span>
        </p>

        <p>
          <span class="painel-imoveis-card-titulo">Área Construida: </span>
          <span class="painel-imoveis-card-descricao">45,25 m²</span>
        </p>

        <p>
          <span class="painel-imoveis-card-titulo">Área Total: </span>
          <span class="painel-imoveis-card-descricao">60,25 m²</span>
        </p>

        <p>
          <span class="painel-imoveis-card-titulo">Endereço: </span>
          <span class="painel-imoveis-card-descricao">Rud Dr Pedro da Fonseca, 365 - </span>
            <span class="painel-imoveis-card-titulo">Bairro: </span>
            <span class="painel-imoveis-card-descricao">Canela - </span>
            <span class="painel-imoveis-card-titulo">CEP: </span>
            <span class="painel-imoveis-card-descricao">89562-600 - Bom Destino - MG</span>
        </p>

        <br>
        <app-titulo descricao="Dados do Imposto"></app-titulo>
        <br>

        <p>
          <span class="painel-imoveis-card-titulo">Tipo de Imposto: </span>
          <span class="painel-imoveis-card-descricao">IPTU</span>
        </p>

        <p>
          <span class="painel-imoveis-card-titulo">Alíquota: </span>
          <span class="painel-imoveis-card-descricao">1,0 %</span>
        </p>

        <p>
          <span class="painel-imoveis-card-titulo">Valor a Pagar Imposto: </span>
          <span class="painel-imoveis-card-descricao">R$ 1.500,00</span>
        </p>
      </div>
    </div>
  </div>

  <!-- Deletar depois que fazer o ngFor -->
  <div class="card painel-imoveis-card-principal">
    <div class="row painel-imoveis-card-row">
      <div class="col-12">
        <p>
          <span class="painel-imoveis-card-titulo">Inscrição Municipal: </span>
          <span class="painel-imoveis-card-descricao">524.978.632</span>
        </p>

        <p>
          <span class="painel-imoveis-card-titulo">Tipo do Imóvel: </span>
          <span class="painel-imoveis-card-descricao">Casa</span>
        </p>

        <p>
          <span class="painel-imoveis-card-titulo">Valor do Imóvel: </span>
          <span class="painel-imoveis-card-descricao">R$ 150.000,00</span>
        </p>

        <p>
          <span class="painel-imoveis-card-titulo">Área Construida: </span>
          <span class="painel-imoveis-card-descricao">45,25 m²</span>
        </p>

        <p>
          <span class="painel-imoveis-card-titulo">Área Total: </span>
          <span class="painel-imoveis-card-descricao">60,25 m²</span>
        </p>

        <p>
          <span class="painel-imoveis-card-titulo">Endereço: </span>
          <span class="painel-imoveis-card-descricao">Rud Dr Pedro da Fonseca, 365 - </span>
            <span class="painel-imoveis-card-titulo">Bairro: </span>
            <span class="painel-imoveis-card-descricao">Canela - </span>
            <span class="painel-imoveis-card-titulo">CEP: </span>
            <span class="painel-imoveis-card-descricao">89562-600 - Bom Destino - MG</span>
        </p>

        <br>
        <app-titulo descricao="Dados do Imposto"></app-titulo>
        <br>

        <p>
          <span class="painel-imoveis-card-titulo">Tipo de Imposto: </span>
          <span class="painel-imoveis-card-descricao">IPTU</span>
        </p>

        <p>
          <span class="painel-imoveis-card-titulo">Alíquota: </span>
          <span class="painel-imoveis-card-descricao">1,0 %</span>
        </p>

        <p>
          <span class="painel-imoveis-card-titulo">Valor a Pagar Imposto: </span>
          <span class="painel-imoveis-card-descricao">R$ 1.500,00</span>
        </p>
      </div>
    </div>
  </div>
   <!-- Fim Deletar depois que fazer o ngFor -->
</div>


