<div class="row">
  <h4>Notícias</h4>
  <div class="col-12 noticias-linha-detalhe"></div>
</div>
<div class="row noticias-linha-cards">
  <div class="col-sm-12 col-md-6 col-lg-4 noticias-card ">
    <div class="card">
      <img class="card-img-top" src="../../../assets/imagens/noticia-1.jpg" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Saúde vacina grupo prioritários contra a Covid-19</h5>
        <p class="card-text">A Secretaria Municipal de Saúde (SMS) de Bom Destino está intensificando o cronograma de vacinação contra a Covid-19 no município em pessoas que se enquadram em grupos prioritários</p>
        <div class="text-right">
          <a href="#" class="btn btn-primary">Leia mais</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 noticias-card ">
    <div class="card">
      <img class="card-img-top" src="../../../assets/imagens/noticia-2.jpg" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Reunião para estruturação da Delegacia da Mulher</h5>
        <p class="card-text">Na tarde de segunda, 18 de janeiro, reuniram-se na Ordem dos Advogados do Brasil (OAB) representantes de diversas entidades da cidade, Prefeitura, Câmara Municipal e Policia Civil.</p>
        <div class="text-right">
          <a href="#" class="btn btn-primary">Leia mais</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 noticias-card ">
    <div class="card">
      <img class="card-img-top" src="../../../assets/imagens/noticia-3.jpg" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Foi concedido reajuste com base no IPCA aos Servidores Públicos</h5>
        <p class="card-text">A Prefeitura de São Lourenço emite na tarde de hoje, 25/01, o Decreto Municipal 8172 que dispõe sobre a Revisão Geral Anual dos subsídios e vencimentos do Quadro de Pessoal do Município</p>
        <div class="text-right">
          <a href="#" class="btn btn-primary">Leia mais</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4 noticias-card ">
    <div class="card">
      <img class="card-img-top" src="../../../assets/imagens/noticia-4.jpg" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Sine será revitalizado para melhor atender ao cidadão</h5>
        <p class="card-text">Absorver melhor os trabalhadores de Ouro Preto no mercado e incentivar o primeiro emprego. Essas são algumas das principais mudanças que devem acontecer no Sine-OP (Sistema Nacional de Emprego) com a nova gestão.</p>
        <div class="text-right">
          <a href="#" class="btn btn-primary">Leia mais</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 noticias-card ">
    <div class="card">
      <img class="card-img-top" src="../../../assets/imagens/noticia-5.jpg" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Aposentados e pensionistas do INSS terão reajuste de 5,45%</h5>
        <p class="card-text">Secretaria Especial de Previdência e Trabalho do Ministério da Economia publicada no Diário Oficial da União (DOU). De acordo com o documento, a correção tem efeito a partir de 1º de janeiro deste ano.</p>
        <div class="text-right">
          <a href="#" class="btn btn-primary">Leia mais</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4 noticias-card ">
    <div class="card">
      <img class="card-img-top" src="../../../assets/imagens/noticia-6.jpg" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Interdição da rua Professor Paulo Magalhães é prorrogada</h5>
        <p class="card-text">A Prefeitura de Bom Destino comunica que a interdição do tráfego de veículos na rua Professor Paulo Magalhães Gomes, entre o n° 100 e esquina com a rua João Pedro da Silva (rotatória), será prorrogada até o dia 09 de dezembro.</p>
        <div class="text-right">
          <a href="#" class="btn btn-primary">Leia mais</a>
        </div>
      </div>
    </div>
  </div>
</div><!---->

