<div class="row">
  <h4>Seja bem vindo João da Silva</h4>
  <div class="col-12 servicos-home-portal-linha-detalhe"></div>

  <!--Card Cidadão-->
  <div *ngIf="true" class="card servicos-home-portal-card-principal">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 servicos-home-portal-icone-estrutura">
          <a routerLink="/login">
            <div class="servicos-home-portal-icone-corpo">
              <div class="servicos-home-portal-icone">
                <i class="fa fa-home fa-4x" aria-hidden="true"></i>
              </div>
              <div class="servicos-home-portal-icone-descricao">
                Consultar Impostos Imobiliários
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 servicos-home-portal-icone-estrutura">
          <a routerLink="#">
            <div class="servicos-home-portal-icone-corpo">
              <div class="servicos-home-portal-icone">
                <i class="fa fa-handshake-o fa-4x" aria-hidden="true"></i>
              </div>
              <div class="servicos-home-portal-icone-descricao">
                Assistência Social
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 servicos-home-portal-icone-estrutura">
          <a routerLink="#">
            <div class="servicos-home-portal-icone-corpo">
              <div class="servicos-home-portal-icone">
                <i class="fa fa-plus-circle fa-4x" aria-hidden="true"></i>
              </div>
              <div class="servicos-home-portal-icone-descricao">
                Saúde
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 servicos-home-portal-icone-estrutura">
          <a routerLink="#">
            <div class="servicos-home-portal-icone-corpo">
              <div class="servicos-home-portal-icone">
                <i class="fa fa-recycle fa-4x" aria-hidden="true"></i></div>
              <div class="servicos-home-portal-icone-descricao">Meio Ambiente</div>
            </div>
          </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 servicos-home-portal-icone-estrutura">
          <a routerLink="#">
            <div class="servicos-home-portal-icone-corpo">
              <div class="servicos-home-portal-icone">
                <i class="fa fa-trash fa-4x" aria-hidden="true"></i>
              </div>
              <div class="servicos-home-portal-icone-descricao">
                Coleta de lixo
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 servicos-home-portal-icone-estrutura">
          <a routerLink="#">
            <div class="servicos-home-portal-icone-corpo">
              <div class="servicos-home-portal-icone">
                <i class="fa fa-comments-o fa-4x" aria-hidden="true"></i>
              </div>
              <div class="servicos-home-portal-icone-descricao">
                Ouvidoria
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!--Card Servidor-->
  <div *ngIf="false" class="card servicos-home-portal-card-principal">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 servicos-home-portal-icone-estrutura">
          <a routerLink="#">
            <div class="servicos-home-portal-icone-corpo">
              <div class="servicos-home-portal-icone">
                <i class="fa fa-globe fa-4x" aria-hidden="true"></i>
              </div>
              <div class="servicos-home-portal-icone-descricao">
                Listar Informações Georreferenciadas
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 servicos-home-portal-icone-estrutura">
          <a routerLink="#">
            <div class="servicos-home-portal-icone-corpo">
              <div class="servicos-home-portal-icone">
                <i class="fa fa-globe fa-4x" aria-hidden="true"></i>
              </div>
              <div class="servicos-home-portal-icone-descricao">
                Cadastrar Informações Georreferenciadas
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 servicos-home-portal-icone-estrutura">
          <a routerLink="#">
            <div class="servicos-home-portal-icone-corpo">
              <div class="servicos-home-portal-icone">
                <i class="fa fa-address-book-o fa-4x" aria-hidden="true"></i>
              </div>
              <div class="servicos-home-portal-icone-descricao">
                Cursos
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 servicos-home-portal-icone-estrutura">
          <a routerLink="#">
            <div class="servicos-home-portal-icone-corpo">
              <div class="servicos-home-portal-icone">
                <i class="fa fa-calendar-plus-o fa-4x" aria-hidden="true"></i>
              </div>
              <div class="servicos-home-portal-icone-descricao">
                Cronograma de Pagamento
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 servicos-home-portal-icone-estrutura">
          <a routerLink="#">
            <div class="servicos-home-portal-icone-corpo">
              <div class="servicos-home-portal-icone">
                <i class="fa fa-file-text-o fa-4x" aria-hidden="true"></i>
              </div>
              <div class="servicos-home-portal-icone-descricao">
                Folha de Pagamento
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 servicos-home-portal-icone-estrutura">
          <a routerLink="#">
            <div class="servicos-home-portal-icone-corpo">
              <div class="servicos-home-portal-icone">
                <i class="fa fa-address-card fa-4x" aria-hidden="true"></i>
              </div>
              <div class="servicos-home-portal-icone-descricao">
                Legislação
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
