.servicos-home-portal-linha-detalhe {
  background-color: #ffda00;
  height: 3px;
  margin-top: 5px;
}

.servicos-home-portal-card-principal {
  min-height: 355px;
  margin-top: 40px;
  width: 100%;
  padding-bottom: 35px;
}

.servicos-home-portal-icone-estrutura {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

.servicos-home-portal-icone-corpo {
  width: 310px;
  height: 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  border: 4px #0b3d6f solid;
  box-shadow: 5px 4px 3px 1px #868687;
  background-color: #fff;
  padding: 20px;
}

.servicos-home-portal-icone {
  color: #0b3d6f;
}

.servicos-home-portal-icone-descricao {
  margin: 0 0 0 15px;
  font-size: 1.2rem;
  font-weight: 600;
}

.servicos-home-portal-icone-estrutura a {
  color: #242424 !important;
  text-decoration: none;
  font-size: 1.2rem;
  /*margin-left: 17px;
   border-bottom: 6px solid #0b3d6f;*/
}

.servicos-home-portal-icone-estrutura a:hover {
  color: #0093cf !important;
}
