<div class="row">
  <div class="card painel-pessoa-juridica-card-principal">
    <div class="row painel-pessoa-juridica-card-row">
      <div class="col-12">
        <p>
          <span class="painel-pessoa-juridica-card-titulo">Razão Social: </span>
          <span class="painel-pessoa-juridica-card-descricao">DTZone Informática</span>
        </p>

        <p>
          <span class="painel-pessoa-juridica-card-titulo">Nome Fantasia: </span>
          <span class="painel-pessoa-juridica-card-descricao">DTZone Informática LTDA</span>
        </p>

        <p>
          <span class="painel-pessoa-juridica-card-titulo">CNPJ: </span>
          <span class="painel-pessoa-juridica-card-descricao">03.643.487/0001-19</span>
        </p>

        <p>
          <span class="painel-pessoa-juridica-card-titulo">inscricaoEstadual: </span>
          <span class="painel-pessoa-juridica-card-descricao">216.625.113/3001</span>
        </p>

        <p>
          <span class="painel-pessoa-juridica-card-titulo">Telefone: </span>
          <span class="painel-pessoa-juridica-card-descricao">(38) 3355-6985</span>
        </p>

        <p>
          <span class="painel-pessoa-juridica-card-titulo">Endereço: </span>
          <span class="painel-pessoa-juridica-card-descricao">Rud Dr Pedro da Fonseca, 365 - </span>
            <span class="painel-pessoa-juridica-card-titulo">Bairro: </span>
            <span class="painel-pessoa-juridica-card-descricao">Canela - </span>
            <span class="painel-pessoa-juridica-card-titulo">CEP: </span>
            <span class="painel-pessoa-juridica-card-descricao">89562-600 - Bom Destino - MG</span>
        </p>

      </div>
    </div>
  </div>
</div>

