<header class="conteiner-fluid portal-header-corpo">
  <div class="container-fluid portal-header-detalhe-superior"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-3 portal-header-div-logo">
        <a href="/portal/home">
          <img src="../../../../assets/imagens/logo-prefeitura-bom-destino.png" class="img-fluid"/>
        </a>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-9 portal-header-conteudo-corpo">
        <button type="button" class="btn btn-danger" style="margin-top: 25px;" (click)="logout()">
          <i class="fa fa-times"></i>
          &nbsp;&nbsp;Sair
        </button>
      </div>
    </div>
  </div>
  <div class="container-fluid portal-header-detalhe-inferior"></div>
</header>
