.header-corpo {
  min-height: 250px;
  width: 100%;
  background-color: #fff;
}

.header-detalhe-superior {
  background-color: #0b3d6f;
  height: 50px;
}

.header-detalhe-inferior {
  background-color: #e1192a;
  height: 6px;
  box-shadow: 0 2px 3px 1px #868687;
}

.header-div-logo {
  display: flex;
  align-items: center;
  min-width: 200px;
  margin: 15px 0 15px 0;
}

.header-div-nav-corpo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.header-div-nav {
  width: 100%;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

#menu a {
  color: #242424 !important;
  text-decoration: none;
  font-size: 1.3rem;
  margin-left: 20px;
  /* border-bottom: 6px solid #0b3d6f;*/
}

#menu a:hover {
  color: #0093cf !important;
}

.header-nav-borda-inferior-amarela {
  border-bottom: 6px solid #ffda00;
}

.header-nav-borda-inferior-cinza {
  border-bottom: 6px solid #d9d9dc;
}

.header-nav-borda-inferior-vermelho {
  border-bottom: 6px solid #e1192a;
}

.header-nav-borda-inferior-vermelha {
  border-bottom: 6px solid #e1192a;
}

.header-nav-borda-inferior-azul {
  border-bottom: 6px solid #0b3d6f;
}
