<div class="conteiner-fluid header-corpo">
  <div class="container-fluid header-detalhe-superior"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-3 header-div-logo">
        <img src="../../../../assets/imagens/logo-prefeitura-bom-destino.png" class="img-fluid"/>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-9 header-div-nav-corpo">
        <div class="header-div-nav">
          <nav class="nav flex-column flex-md-row  flex-lg-row" id="menu">
            <a class="nav-link header-nav-borda-inferior-amarela" href="#">A Cidade</a>
            <a class="nav-link header-nav-borda-inferior-cinza" href="#">Covid 19</a>
            <a class="nav-link header-nav-borda-inferior-vermelho" href="#">Área do servidor</a>
            <a class="nav-link header-nav-borda-inferior-azul" href="#">Área do cidadão</a>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid header-detalhe-inferior"></div>
  <!---->
</div>
