<app-header></app-header>
<div class="conteudo">
  <div class="container">
    <app-titulo descricao="Município de Bom Destino - Minas Gerais"></app-titulo>

    <div class="row a-cidade-row-imagem" style="margin-top: 30px">
      <img src="../../../assets/imagens/a-cidade-1.jpg" class="img-fluid">
    </div>

    <div class="row a-cidade-row-imagem">
      <img src="../../../assets/imagens/a-cidade-2.jpg" class="img-fluid">
    </div>

    <div class="row a-cidade-row-descricao">
      <p>O município de Bom Destino trata-se de uma cidade de médio porte com aproximadamente 300 mil habitantes.</p>
      <p>Trata-se de um município com uma agricultura familiar muito forte, onde tem destaque as culturas de milho e feijão, sendo o maior produtor de feijão do estado de Minas Gerais.</p>
      <p>Também somos o maior fornecedor de hortifrutigranjeiros, abastecendo o município de Belo Horizonte.</p>
    </div>

  </div>
</div>
<app-footer></app-footer>


