version: '2.2'

services:
  app:
    image: api-informacoes-cidadao-image:latest
    build:
      context: .
    container_name: app
    depends_on: 
      - db
    environment: 
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/bd-cidadao
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
    ports:
      - "8080:8080"
  
  db:
    image: postgres:9.5
    container_name: db
    environment: 
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=bd-cidadao
    ports:
      - "5432:5432"
  