<app-header></app-header>
<div class="conteudo">
  <div class="container">
      <app-titulo descricao="Informações da COVID 19"></app-titulo>
    <div class="col-12 covid-19-corpo-card">
      <div class="card covid-19-card">
        <img src="../../../assets/imagens/covid-19-boletim.jpg" class="img-fluid">
      </div>
    </div>

    <div class="col-12 covid-19-corpo-card">
      <div class="card covid-19-card">
        <img src="../../../assets/imagens/covid-19-vacinometro.jpg" class="img-fluid">
      </div>
    </div>

    <div class="col-12 covid-19-corpo-card">
      <div class="card covid-19-card">
        <img src="../../../assets/imagens/covid-19-tce.jpg" class="img-fluid">
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

