<div class="row">
  <div class="card painel-pessoa-fisica-card-principal">
    <div class="row painel-pessoa-fisica-card-row">
      <div class="col-12">
        <p>
          <span class="painel-pessoa-fisica-card-titulo">Nome: </span>
          <span class="painel-pessoa-fisica-card-descricao">Robson da Silva</span>
        </p>
        <p>
          <span class="painel-pessoa-fisica-card-titulo">CPF: </span>
          <span class="painel-pessoa-fisica-card-descricao">742.414.590-80</span>
        </p>
        <p>
          <span class="painel-pessoa-fisica-card-titulo">Telefone: </span>
          <span class="painel-pessoa-fisica-card-descricao">(38) 99896-5412</span>
        </p>
        <p>
          <span class="painel-pessoa-fisica-card-titulo">Endereço: </span>
          <span class="painel-pessoa-fisica-card-descricao">Rud Dr Pedro da Fonseca, 365 - </span>
            <span class="painel-pessoa-fisica-card-titulo">Bairro: </span>
            <span class="painel-pessoa-fisica-card-descricao">Canela - </span>
            <span class="painel-pessoa-fisica-card-titulo">CEP: </span>
            <span class="painel-pessoa-fisica-card-descricao">89562-600 - Bom Destino - MG</span>
        </p>
      </div>
    </div>
  </div>
</div>
